@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  font-style: normal;
  src: url('../../public/fonts/NanumSquareR.ttf') format('ttf');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  font-style: normal;
  src: url('../../public/fonts/NanumSquareB.ttf') format('ttf');
}

body {
  font-family: 'NanumSquare';
}

#wrap::-webkit-scrollbar {
  width: 4px;
}

#wrap::-webkit-scrollbar-thumb {
  background: rgba(220, 20, 60);
  border-radius: 10px;
}

#wrap::-webkit-scrollbar-track {
  background: rgba(220, 20, 60, 0.1);
}

@layer utilities {
  .center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .solid-border {
    border: 1px solid #fff;
  }

  .border {
    border-style: solid;
    border-width: 1px;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .small-button {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .point-border {
    border: 1px solid #ea4914;
  }

  .select-box::before {
    content: '⌵';
    position: absolute;
    top: 6px;
    right: 8px;
    color: #ea4914;
    font-size: 14px;
  }

  .importance::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 4px;
    background-color: green;
  }
  .importance.Easy::before {
    background-color: green;
  }
  .importance.Normal::before {
    background-color: yellow;
  }
  .importance.Important::before {
    background-color: red;
  }
}
